/* app global css */
.classLoading {
    background: url('../app-splashscreen.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.primeiraLetraMaiuscula {
    text-transform: capitalize;
}